// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --ion-color-arceus: #a4acaf;
  --ion-color-arceus-rgb: 164,172,175;
  --ion-color-arceus-contrast: #000000;
  --ion-color-arceus-contrast-rgb: 0,0,0;
  --ion-color-arceus-shade: #90979a;
  --ion-color-arceus-tint: #adb4b7;


  --ion-color-bulbasaur: #9bcc50;
--ion-color-bulbasaur-rgb: 155,204,80;
--ion-color-bulbasaur-contrast: #000000;
--ion-color-bulbasaur-contrast-rgb: 0,0,0;
--ion-color-bulbasaur-shade: #88b446;
--ion-color-bulbasaur-tint: #a5d162;


--ion-color-bulbasaur_poison: #b97fc9;
--ion-color-bulbasaur_poison-rgb: 185,127,201;
--ion-color-bulbasaur_poison-contrast: #000000;
--ion-color-bulbasaur_poison-contrast-rgb: 0,0,0;
--ion-color-bulbasaur_poison-shade: #a370b1;
--ion-color-bulbasaur_poison-tint: #c08cce;


--ion-color-charmander: #fd7d24;
  --ion-color-charmander-rgb: 253,125,36;
  --ion-color-charmander-contrast: #000000;
  --ion-color-charmander-contrast-rgb: 0,0,0;
  --ion-color-charmander-shade: #df6e20;
  --ion-color-charmander-tint: #fd8a3a;


  --ion-color-squirtle: #4592c4;
  --ion-color-squirtle-rgb: 69,146,196;
  --ion-color-squirtle-contrast: #000000;
  --ion-color-squirtle-contrast-rgb: 0,0,0;
  --ion-color-squirtle-shade: #3d80ac;
  --ion-color-squirtle-tint: #589dca;


  --ion-color-pikachu: #eed535;
  --ion-color-pikachu-rgb: 238,213,53;
  --ion-color-pikachu-contrast: #000000;
  --ion-color-pikachu-contrast-rgb: 0,0,0;
  --ion-color-pikachu-shade: #d1bb2f;
  --ion-color-pikachu-tint: #f0d949;

  --ion-color-umbreon: #707070;
  --ion-color-umbreon-rgb: 112,112,112;
  --ion-color-umbreon-contrast: #ffffff;
  --ion-color-umbreon-contrast-rgb: 255,255,255;
  --ion-color-umbreon-shade: #636363;
  --ion-color-umbreon-tint: #7e7e7e;

  --ion-color-sneasel-dark: #707070;
  --ion-color-sneasel-dark-rgb: 112,112,112;
  --ion-color-sneasel-dark-contrast: #ffffff;
  --ion-color-sneasel-dark-contrast-rgb: 255,255,255;
  --ion-color-sneasel-dark-shade: #636363;
  --ion-color-sneasel-dark-tint: #7e7e7e;

  --ion-color-sneasel-ice: #51c4e7;
  --ion-color-sneasel-ice-rgb: 81,196,231;
  --ion-color-sneasel-ice-contrast: #000000;
  --ion-color-sneasel-ice-contrast-rgb: 0,0,0;
  --ion-color-sneasel-ice-shade: #47accb;
  --ion-color-sneasel-ice-tint: #62cae9;

  --ion-color-psychic: #f366b9;
  --ion-color-psychic-rgb: 243,102,185;
  --ion-color-psychic-contrast: #000000;
  --ion-color-psychic-contrast-rgb: 0,0,0;
  --ion-color-psychic-shade: #d65aa3;
  --ion-color-psychic-tint: #f475c0;

  --ion-color-fairy: #fdb9e9;
  --ion-color-fairy-rgb: 253,185,233;
  --ion-color-fairy-contrast: #000000;
  --ion-color-fairy-contrast-rgb: 0,0,0;
  --ion-color-fairy-shade: #dfa3cd;
  --ion-color-fairy-tint: #fdc0eb;

  --ion-color-dewgong-water: #4592c4;
  --ion-color-dewgong-water-rgb: 69,146,196;
  --ion-color-dewgong-water-contrast: #000000;
  --ion-color-dewgong-water-contrast-rgb: 0,0,0;
  --ion-color-dewgong-water-shade: #3d80ac;
  --ion-color-dewgong-water-tint: #589dca;

  --ion-color-dewgong-ice: #51c4e7;
  --ion-color-dewgong-ice-rgb: 81,196,231;
  --ion-color-dewgong-ice-contrast: #000000;
  --ion-color-dewgong-ice-contrast-rgb: 0,0,0;
  --ion-color-dewgong-ice-shade: #47accb;
  --ion-color-dewgong-ice-tint: #62cae9;

  --ion-color-suicune: #4592c4;
  --ion-color-suicune-rgb: 69,146,196;
  --ion-color-suicune-contrast: #000000;
  --ion-color-suicune-contrast-rgb: 0,0,0;
  --ion-color-suicune-shade: #3d80ac;
  --ion-color-suicune-tint: #589dca;

  --ion-color-blaziken-fire: #fd7d24;
  --ion-color-blaziken-fire-rgb: 253,125,36;
  --ion-color-blaziken-fire-contrast: #000000;
  --ion-color-blaziken-fire-contrast-rgb: 0,0,0;
  --ion-color-blaziken-fire-shade: #df6e20;
  --ion-color-blaziken-fire-tint: #fd8a3a;

  --ion-color-blaziken-fighting: #d56723;
  --ion-color-blaziken-fighting-rgb: 213,103,35;
  --ion-color-blaziken-fighting-contrast: #000000;
  --ion-color-blaziken-fighting-contrast-rgb: 0,0,0;
  --ion-color-blaziken-fighting-shade: #bb5b1f;
  --ion-color-blaziken-fighting-tint: #d97639;
}


.ion-color-arceus {
  --ion-color-base: var(--ion-color-arceus);
  --ion-color-base-rgb: var(--ion-color-arceus-rgb);
  --ion-color-contrast: var(--ion-color-arceus-contrast);
  --ion-color-contrast-rgb: var(--ion-color-arceus-contrast-rgb);
  --ion-color-shade: var(--ion-color-arceus-shade);
  --ion-color-tint: var(--ion-color-arceus-tint);
}


.ion-color-bulbasaur {
  --ion-color-base: var(--ion-color-bulbasaur);
  --ion-color-base-rgb: var(--ion-color-bulbasaur-rgb);
  --ion-color-contrast: var(--ion-color-bulbasaur-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bulbasaur-contrast-rgb);
  --ion-color-shade: var(--ion-color-bulbasaur-shade);
  --ion-color-tint: var(--ion-color-bulbasaur-tint);
}

.ion-color-bulbasaur_poison {
  --ion-color-base: var(--ion-color-bulbasaur_poison);
  --ion-color-base-rgb: var(--ion-color-bulbasaur_poison-rgb);
  --ion-color-contrast: var(--ion-color-bulbasaur_poison-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bulbasaur_poison-contrast-rgb);
  --ion-color-shade: var(--ion-color-bulbasaur_poison-shade);
  --ion-color-tint: var(--ion-color-bulbasaur_poison-tint);
}

.ion-color-charmander {
  --ion-color-base: var(--ion-color-charmander);
  --ion-color-base-rgb: var(--ion-color-charmander-rgb);
  --ion-color-contrast: var(--ion-color-charmander-contrast);
  --ion-color-contrast-rgb: var(--ion-color-charmander-contrast-rgb);
  --ion-color-shade: var(--ion-color-charmander-shade);
  --ion-color-tint: var(--ion-color-charmander-tint);
}

.ion-color-squirtle {
  --ion-color-base: var(--ion-color-squirtle);
  --ion-color-base-rgb: var(--ion-color-squirtle-rgb);
  --ion-color-contrast: var(--ion-color-squirtle-contrast);
  --ion-color-contrast-rgb: var(--ion-color-squirtle-contrast-rgb);
  --ion-color-shade: var(--ion-color-squirtle-shade);
  --ion-color-tint: var(--ion-color-squirtle-tint);
}

.ion-color-pikachu {
  --ion-color-base: var(--ion-color-pikachu);
  --ion-color-base-rgb: var(--ion-color-pikachu-rgb);
  --ion-color-contrast: var(--ion-color-pikachu-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pikachu-contrast-rgb);
  --ion-color-shade: var(--ion-color-pikachu-shade);
  --ion-color-tint: var(--ion-color-pikachu-tint);
}

.ion-color-umbreon {
  --ion-color-base: var(--ion-color-umbreon);
  --ion-color-base-rgb: var(--ion-color-umbreon-rgb);
  --ion-color-contrast: var(--ion-color-umbreon-contrast);
  --ion-color-contrast-rgb: var(--ion-color-umbreon-contrast-rgb);
  --ion-color-shade: var(--ion-color-umbreon-shade);
  --ion-color-tint: var(--ion-color-umbreon-tint);
}

.ion-color-sneasel-dark {
  --ion-color-base: var(--ion-color-sneasel-dark);
  --ion-color-base-rgb: var(--ion-color-sneasel-dark-rgb);
  --ion-color-contrast: var(--ion-color-sneasel-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-sneasel-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-sneasel-dark-shade);
  --ion-color-tint: var(--ion-color-sneasel-dark-tint);
}

.ion-color-sneasel-ice {
  --ion-color-base: var(--ion-color-sneasel-ice);
  --ion-color-base-rgb: var(--ion-color-sneasel-ice-rgb);
  --ion-color-contrast: var(--ion-color-sneasel-ice-contrast);
  --ion-color-contrast-rgb: var(--ion-color-sneasel-ice-contrast-rgb);
  --ion-color-shade: var(--ion-color-sneasel-ice-shade);
  --ion-color-tint: var(--ion-color-sneasel-ice-tint);
}

.ion-color-psychic {
  --ion-color-base: var(--ion-color-psychic);
  --ion-color-base-rgb: var(--ion-color-psychic-rgb);
  --ion-color-contrast: var(--ion-color-psychic-contrast);
  --ion-color-contrast-rgb: var(--ion-color-psychic-contrast-rgb);
  --ion-color-shade: var(--ion-color-psychic-shade);
  --ion-color-tint: var(--ion-color-psychic-tint);
}

.ion-color-fairy {
  --ion-color-base: var(--ion-color-fairy);
  --ion-color-base-rgb: var(--ion-color-fairy-rgb);
  --ion-color-contrast: var(--ion-color-fairy-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fairy-contrast-rgb);
  --ion-color-shade: var(--ion-color-fairy-shade);
  --ion-color-tint: var(--ion-color-fairy-tint);
}

.ion-color-dewgong-water {
  --ion-color-base: var(--ion-color-dewgong-water);
  --ion-color-base-rgb: var(--ion-color-dewgong-water-rgb);
  --ion-color-contrast: var(--ion-color-dewgong-water-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dewgong-water-contrast-rgb);
  --ion-color-shade: var(--ion-color-dewgong-water-shade);
  --ion-color-tint: var(--ion-color-dewgong-water-tint);
}

.ion-color-dewgong-ice {
  --ion-color-base: var(--ion-color-dewgong-ice);
  --ion-color-base-rgb: var(--ion-color-dewgong-ice-rgb);
  --ion-color-contrast: var(--ion-color-dewgong-ice-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dewgong-ice-contrast-rgb);
  --ion-color-shade: var(--ion-color-dewgong-ice-shade);
  --ion-color-tint: var(--ion-color-dewgong-ice-tint);
}

.ion-color-suicune {
  --ion-color-base: var(--ion-color-suicune);
  --ion-color-base-rgb: var(--ion-color-suicune-rgb);
  --ion-color-contrast: var(--ion-color-suicune-contrast);
  --ion-color-contrast-rgb: var(--ion-color-suicune-contrast-rgb);
  --ion-color-shade: var(--ion-color-suicune-shade);
  --ion-color-tint: var(--ion-color-suicune-tint);
}

.ion-color-blaziken-fire {
  --ion-color-base: var(--ion-color-blaziken-fire);
  --ion-color-base-rgb: var(--ion-color-blaziken-fire-rgb);
  --ion-color-contrast: var(--ion-color-blaziken-fire-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blaziken-fire-contrast-rgb);
  --ion-color-shade: var(--ion-color-blaziken-fire-shade);
  --ion-color-tint: var(--ion-color-blaziken-fire-tint);
}

.ion-color-blaziken-fighting {
  --ion-color-base: var(--ion-color-blaziken-fighting);
  --ion-color-base-rgb: var(--ion-color-blaziken-fighting-rgb);
  --ion-color-contrast: var(--ion-color-blaziken-fighting-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blaziken-fighting-contrast-rgb);
  --ion-color-shade: var(--ion-color-blaziken-fighting-shade);
  --ion-color-tint: var(--ion-color-blaziken-fighting-tint);
}



@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
